.buy__icon {
    fill: var(--main-text-color);
    width: 1.5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    transition: all .3s ease,all .3s ease;
}
.text-up {
    text-transform: uppercase;
    max-width: 100%;
    margin: 0;
}
option {
    background-color: #000;
    color: #fff;
}
.buy {
    padding: 15rem 0; 
}
.buy .sub-title {
    text-align: center;
    margin-bottom: 8rem;
}
.buy__img {
    width: 100%;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.buy__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy .sub-title--mb {
    margin-bottom: 1rem;
}
.form__title {
    font-size: 2rem;
}
.quantity_label {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}
.quantity_label-box {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}
.quantity_label-btn  {
    width: 5rem;
    height: 5rem;
    border: .1rem solid var(--main-text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.quantity_label-prev  {
    border-right: none;
    border-radius: 5rem 0 0 5rem;
}
.quantity_label-next  {
    border-left: none;
    border-radius: 0 5rem 5rem 0;
}
.quantity__input {
    background-color: transparent;
    border: .1rem solid var(--main-text-color);
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.btn-disable {
    pointer-events: none;
}
.btn-disable .buy__icon {
    pointer-events: none;
    fill: var(--inactive);
}
.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.form__title {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid var(--main-text-color);
}
.form__subtitle {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}
.checkbox__label-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.checkbox {
  opacity: 0;
  visibility: hidden;
  position:absolute;
}
.checkbox__label {
  position: relative;
  display: flex;
}
.checkbox__label::before {
  vertical-align:top;
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: .1rem solid var(--main-text-color);
  border-radius: .5rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked+label::before {
  border-color: var(--checkbox-color);
  background-color: var(--checkbox-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.silicone_case_img {
    width: 100%;
    max-width: 5rem;
    margin-bottom: 3rem;
    margin-right: auto;
    display: block;
}
.fl-form .form-group label {
    display: flex;
    flex-direction: column;
}

sup {
    color: var(--accent-color);
}
.fl-form .form-group label input, select, .form-control {
    padding: 1rem;
}
.fl-form .form-group {
    margin-bottom: 1rem;
}
::-webkit-input-placeholder {  
    color: var(--main-text-color);
     font-size: 2rem;
}
::-moz-placeholder          {  
    color: var(--main-text-color);
    font-size: 2rem;
}
:-moz-placeholder           {  
    color: var(--main-text-color);
    font-size: 2rem;
}
:-ms-input-placeholder      {  
    color: var(--main-text-color);
    font-size: 2rem;
}
.form-control  {
    background-color:transparent;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    background: #e0e0e0;
}
.img img {
    max-width: 10rem;
}
.form__title-box  {
    justify-content: space-between;
    border-bottom: .1rem solid ;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.rules {
    font-size: 2rem;
}
.form__btn {
    margin-left: auto;
    margin-right: auto;
}
.form__wrapper, .fl-form  {
    padding: 2rem 0;
    margin-bottom: 1rem;
    border-radius: 5rem;
}
.payment-header {
    margin-bottom: 2rem;
}
.payment-header label {
    display: block;
    margin-bottom: 1rem;
}

.payment .img {
    display: flex;
}
.label-block {
    justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.error-span {
    font-size: 1.6rem;
    color: var(--accent-color);
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    font-family: var(--title-font);
}
.order-form label {
    position: relative;
    margin-bottom: 2rem;
}

div.img {
    margin: 0;
}
.accept__box {
    padding: 1rem 0;
    text-align: left;
}
.accept__box .text {
    margin-bottom: 1rem;
    margin-left: 0;
}
.accept__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 33rem;
}
.accept__img {
    display: block;
    width: 10rem;
    height: 8rem;
    object-fit: contain;
}



@media screen and (min-width: 1024px) {
    .main-form__wrapper {
        padding: 5rem 10rem;
    }
    .fl-form .form-group {
        margin-bottom: 0;
    }
    .buy__img {
        margin-left: 0;
        margin-right: 5rem;
    }
    .form__title {
        font-size: 4rem;
    }
    .form_group-flex {
        display: flex;
        justify-content: space-between;
    }
    .form-group_block {
        width: 49%;
    }
    .payment-form .form-group_block {
        width: 100%;
    }
    .buy__flex {
        flex-direction: row;
    }

    .accept__box {
        display: flex;
        align-items: center;
    }
    .accept__box .text {
        margin-bottom: 0;
        margin-right: 5rem;
    }
    .accept__list {
        flex-grow: 1;
        max-width: 33rem;
    }
 
}
