.hero__wrapper-main {
    background-color: var(--first-brand-color);
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero {
    padding: 20rem 0 15rem;
}
.hero .title {
    color: var(--second-brand-color);
}
.hero .title span {
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-size: 5rem;
}


@media screen and (min-width: 1440px)  {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }
    .hero .text,
    .hero .btn {
        margin-left: 0;
    }
    .hero .img {
        margin: 0;
        position: relative;
    }
  
}
